</main>
<footer>
    <div>
        <p>Student Application System&copy; 2019. Allright Reserved</p>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script>
    $("#togglenav").click(function() {
        $("nav ul li").slideToggle();
      });
</script>
</body>
</html>