<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/MaintainQualification.css">
    </head>
    <body>
        <header>
            <nav>
                <ul id="togglenav"><img src="Logo/Menu.png" alt="Menu" class="menuicon"></ul>
                <ul id="logo"><a href="/universityAdmin">Student Application System</a></ul>
                <ul id="navbar">
                    <li><a href="/recordProgramme">Record Programme</a></li>
                    <li><a href="/reviewApplication">Review application</a></li>
                    <li id="logout"><a href="#">Logout</a></li>
                </ul>
            </nav>
        </header>
        <main>