<%- include partials/headerMainSAS %>
<div class="maindiv">
    <div>
        <div class="window">
            <h3>Add University Admin</h3>
            <form>
                <h4>Username</h4>
                <input type="text" name="username" placeholder="Username" class="inputform">
                <h4>Email</h4>
                <input type="email" name="email" placeholder="Email" class="inputform">
                <h4>Password</h4>
                <input type="password" name="password" placeholder="Password" class="inputform">
                <h4>Re-enter Password</h4>
                <input type="password" name="password" placeholder="Password" class="inputform">
                <input type="button" value="Submit" class="submitbutton">
            </form>
        </div>
    </div>
</div>
<%- include partials/footerSAS %>