<%- include partials/headerMainUniversity %>
    <div>
        <div class="window">
            <h3>Add Qualification</h3>
            <form action="/addRecordProgramme" method="POST">
                <h4>Programme Name</h4>
                <input type="text" name="programmeName" id="programmeName" placeholder="Programme Name" class="inputform">
                <h4>Description</h4>
                <input type="text" name="description" id="description" placeholder="Description" class="inputform">
                <h4>Closing Date</h4>
                <input type="date" name="closingDate" id="closingDate" placeholder="Closing Date" class="inputform">
                <button type="submit" class="submitbutton">Submit</button>
            </form>
        </div>
    </div>
</div>
<%- include partials/footerSAS %>