<%- include partials/headerMainSAS %>
<div class="maindiv">
    <div>
        <div class="window">
            <h3>Add University</h3>
            <form>
                <h4>University Name</h4>
                <input type="text" name="university name" placeholder="University Name" class="inputform">
                <a href="/addAdmin"><input type="button" value="Submit" class="submitbutton" href="#popup1"></a>
            </form>
        </div>
    </div>
</div>
<%- include partials/footerSAS %>