<%- include partials/headerMainApplicant %>
<div class="maindiv">
    <nav>
        <aside class="sideright1"><h1>Programme List</h1>
            <div class="searchbar">
                <input type="text" placeholder="Search" class="search" required>
                <input type="button" value="Search" class="buttonsearch">
            </div>
            <table cellspacing='0'>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>University Name</th>
                        <th>Programme Name</th>
                        <th>Description</th>
                        <th>Closing Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Stikom</td>
                        <td>SE</td>
                        <td>Sofware Enginering</td>
                        <td>100</td>
                        <td><a href="#"><input type="button" value="Select" class="btnReview"></a></td>                                    
                    </tr>
                </tbody>
            </table>
        </aside>
    </nav>
</div>
<%- include partials/footerSAS %>