<%- include partials/headerMainUniversity %>
<div class="maindiv">
    <nav>
        <aside class="sideright1"><h1>Programme List</h1>
            <div class="searchbar">
                <input type="text" placeholder="Search" class="search" required>
                <input type="button" value="Search" class="buttonsearch">
            </div>
            <table cellspacing='0'>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Programme Name</th>
                        <th>Description</th>
                        <th>Closing Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>SE</td>
                        <td>apaan ya</td>
                        <td>1 January 2019</td>
                        <td><a href="SelectApplication.html"><input type="button" value="Review" class="btnReview"></a></td>                                    
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>FP</td>
                        <td>hmm susah</td>
                        <td>1 December 2019</td>
                        <td><a href="SelectApplication.html"><input type="button" value="Review" class="btnReview"></a></td> 
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Client Server</td>
                        <td>ribet</td>
                        <td>30 December 2019</td>
                        <td><a href="SelectApplication.html"><input type="button" value="Review" class="btnReview"></a></td> 
                    </tr>
                </tbody>
            </table>
        </aside>
    </nav>
</div>
<%- include partials/footerSAS %>