<%- include ../partials/headerApplicant %>
<h1>Welcome to SAS!</h1>
<div class="box">
    <h2>Applicant</h2>
    <div class="center">
        <img src="Logo/User.png" alt="User" id="user">
        <!-- <div class="info">
            <h5>Name: I Putu Wahyu Adhi Diatmika</h5>
        </div> -->
    </div>
</div>
<%- include ../partials/footerSAS %>