<%- include ../partials/headerUniversity %>
<h1>Welcome to University Home!</h1>
<div class="box">
    <h2>University Admin</h2>
    <div class="center">
        <img src="../Logo/User.png" alt="User" id="user">
        <!-- <div class="info">
            <h5>Name: I Putu Wahyu Adhi Diatmika</h5>
            <h5>University: Stikom</h5>
        </div> -->
    </div>
</div>
<%- include ../partials/footerSAS %>