*
{
    margin: 0;
    padding: 0;
}
body
{
    background: #C5E0DC;
    height: 100%;
}
header
{
    background: rgba(44, 62, 80, 0.7);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}
nav ul
{
    list-style-type: none;
}
#logo
{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}
a
{
    color: white;
    text-decoration: none;
}
main
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}
h5
{
    text-align: left;
    padding: 5px;
}
h2
{
    padding: 20px;
}
.box
{
    background: #8DA19E;
    display: inline-table;
    padding-bottom: 20px;
    margin-top: 20px;
}
.menuicon
{
    width: 20px;
    padding-right: 10px;
}
#togglenav
{
    color:#fff;
    cursor: pointer;
    text-align: center;
    background-color:transparent;
    padding-top: 5px;
    padding-bottom: 5px;
}
#navbar
{
    display: inline;
}
footer
{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 9pt;
    width: 100%;
}
nav ul li a:hover, nav ul a:hover
{
    color: yellow;
}
@media(min-width:900px)
{
    #togglenav
    {
        display: none;
    }
    #logo
    {
        padding-left: 20px;
    }
    nav ul
    {
        display: inline-block;
    }
    ul
    {
        display: inline;
        padding-left: 0px;
        padding-right: 0px;
        text-align: left;  
        padding-top: 15px;
        padding-bottom: 15px;
    }
    nav ul li
    {
        display: inline;
        padding-left: 10px;
    }
    #logout
    {
        float: right;
        margin-right: 2%;
        margin-top: 15px;
    }
    #user
    {
        width: 200px;
        margin-right: 20px;
    }
    .center
    {
        display: inline-flex;
        text-align: center;
    }
    .info
    {
        margin-top: 30px;
    }
    .box
    {
        width: 600px;
    }
    footer
    {
        position: absolute;
    }
}
@media(max-width:900px)
{
    #user
    {
        width: 40%;
    }
    #navbar
    {
        text-align: left;
    }
    #navbar li
    {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
    }
    nav ul
    {
        display: inline;
    }
    .info
    {
        text-align: center;
    }
    h5
    {
        padding-left: 20px;
    }
}