body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background:#C5E0DC;
    margin-bottom: 40px;
}
.header
{
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: -40px;
    color: black;
    font-weight: bold;
}
.login
{
    background: rgba(44, 62, 80, 0.7);
    padding: 5%;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    margin-left: auto;
    border-radius: 10px;
}
form
{
    width: 240px;
    text-align: center;
}
input, .select
{
    width: 240px;
    text-align: center;
    border: 1px solid rgba(44, 62, 80);
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0px;
    margin: 5px;
    transition: border 0.5s;
    outline-color: transparent;
    color: black;
    background:white;
}
input[type=submit]
{
    border: none;
    font-weight: bold;
    width: 190px;
    background: #C5E0DC;
    color: black;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0px;
    margin-top: 20px;
    margin-bottom: -15px;
    border-radius: 15px;
    cursor: pointer;
}
input[type=submit]:hover
{
    color: black;
    background: skyblue;
}
h2
{
    color: white;
    margin-top: -1%;
    margin-bottom: 50px;
}
a
{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
a:hover
{
    color: yellow;
}
.container
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

::-webkit-input-placeholder
{
    color: rgba(0,0,0,0.5);
}