<%- include ../partials/headerMainSAS %>
<div class="maindiv">
    <div>
        <div class="window">
            <h3>Add University</h3>
            <form action="/sas/university/add" method="POST">
                <h4>University Name</h4>
                <input type="text" name="univName" id="univName" placeholder="University Name" class="inputform">
                <input type="submit" value="Submit" class="submitbutton" href="#popup1">
                <button class="submitbutton" ><a href="/sas/register">Cancel</a></button>
            </form>
        </div>
    </div>
</div>
<%- include ../partials/footerSAS %>